extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="css/stiller.css">
  <link rel="stylesheet" type="text/css" href="css/iletisimbody.css">

block content
  <form method="POST" action="https://formspree.io/tanakinci2002@gmail.com">
    <div class="txtb">
      <label><span>Name</span>
        <input type="text" name="name" placeholder="Write your name (required)"></label>
    </div>

    <div class="txtb">
      <label><span>E-mail</span>
        <input type="email" name="replyto" placeholder="Write your e-mail (required)"></label>
    </div>

    <div class="txtb">
      <label><span>Phone</span>
        <input type="number" name="phone" placeholder="Write your phone number (not required)"></label>
    </div>

    <div class="txtb">
      <label><span>Message</span>
        <textarea name="message" placeholder="Now let's come to the conclusion."></textarea></label>
    </div>
    <button class="formbutton" type="submit"><i class="fa fa-send" aria-hidden="true" style="font-size: 22px;"></i><a class="sendit"> Send It!</a></button>
  </form>
