extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="css/cards.css">
  
block content
  <div class="conatiner">
    <div class="wrap">
      <div class="box one">
        <div class="date">
        </div>
        <h2>Distrocards</h2>
          <a class="button animated pulse delay-1s" href="games/distrocards/index.html"><i class="fa fa-gamepad" aria-hidden="true"></i>  Play</a>
      </div>
      <div class="box two">
        <div class="date">
        </div>
        <h2>Dwarfs2019</h2>
          <a class="button animated pulse delay-1s" href="games/dwarfs2019/index.html"><i class="fa fa-gamepad" aria-hidden="true"></i>  Play</a>
      </div>
    </div>
  </div>
