extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="css/indexarkaplan.css">

block content
  .hos
    | Mercode: 
    span.ityped
  h3
    | Mercode is a Free Libre Open Source Community aimed to create decentralized apps and Linux distros.
  a.button.animated.pulse.delay-1s(href='join.html')
    i.fa.fa-handshake-o(aria-hidden='true')
    |   Join Us
  a.button.animated.pulse.delay-1s(href='https://hub.mercode.org/register')
    i.fa.fa-sign-in(aria-hidden='true')
    |   Register
  a.button.animated.pulse.delay-1s(href='#donate')
    i.fa.fa-money(aria-hidden='true')
    |   Donate
  br
  p(style="color: #afafaf") Made with &lt;3 &nbsp;&nbsp; by The Mercode Community.
  script(type='text/javascript' src='./js/ityped.js')
  script(type='text/javascript').
    window.ityped.init(document.querySelector('.ityped'),{
    typeSpeed:  125,
    startDelay: 500,
    backDelay:  1200,
    cursorChar: ".",
    strings : ['Liberty','Privacy','Security', 'Solidarity']
    })
