doctype html
head
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
meta(charset='utf-8')
title MerHub
link(rel='shortcut icon', type='image/png', href='https://mercode.org/assets/ikonhub.png')
link(rel='stylesheet', type='text/css', href='https://mercode.org/css/stiller.css')
link(rel='stylesheet', type='text/css', href='https://mercode.org/css/body.css')
link(rel='stylesheet', type='text/css', href='https://mercode.org/css/portal.css')
link(rel='stylesheet', type='text/css', href='https://mercode.org/css/main.css')
header.portalheader
  .logo
    a(href='https://hub.mercode.org/')
      img(src='./assets/hub.mercode.png', style='width:auto;height:20px;padding-top:10px;', alt='*hub.mercode*')
  nav
    ul
      li
        a(href='https://hub.mercode.org/channel')
          i.fa.fa-user-circle-o(aria-hidden='true')
          |   My Accounts
      li
        a(href='https://hub.mercode.org/manage')
          i.fa.fa-address-book-o(aria-hidden='true')
          |   Channel Manager
      li
        a(href='https://hub.mercode.org/profiles')
          i.fa.fa-cog(aria-hidden='true')
          |   Settings
      li
        a(href='https://hub.mercode.org/directory')
          i.fa.fa-sitemap(aria-hidden='true')
          |   Directory
      li
        a(href='https://hub.mercode.org/logout')
          i.fa.fa-sign-out(aria-hidden='true')
          |   Sign Out
  .menu-toggle
    i.fa.fa-ellipsis-v(aria-hidden='true')
p.mo Welcome to MerHub
p.mo1 You have signed in to the creative social network.
p(style='color: rgba(0, 0, 0, 0);')
  | #mAkErHaReKeTi , #MaKeRsTuRkIyE Ve #&Ouml;&gbreve;ReNeNlEr gIbI MaSoNvArI KuRuLu&scedil;LaRa &ccedil;oK DiKkAt eTmEk lAz&imath;M. &quot;MaKeR&quot; vE &quot;sTeM&quot; gIbI G&uuml;n&uuml;M&uuml;z&uuml;N &ouml;NeMlI Ba&scedil;L&imath;kLaR&imath;n&imath; rEkLaMlA&scedil;t&imath;R&imath;p cEbInIzI Bo&scedil;AlTmAkTaN Ba&scedil;Ka aMa&ccedil;LaR&imath; YoK. aYl&imath;K SeMiNeRlErInDeKi bA&scedil;l&imath;KlAr&imath; dA HeP MaNiP&uuml;lAsYoN &uuml;ZeRiNe.
p.mo1 Take a look at official channels opened by Mercode staff.
.conatiner
  .wrap
    .box.two(onclick="myhref('https://hub.mercode.org/channel/linux');")
      .date
        h4(style='color: green;') Status: OPEN
      h2 GNU/Linux
      .poster.p1
        h4
          img.portalsimge(src='https://mercode.org/assets/portal2.png')
    .box.one(onclick="myhref('https://hub.mercode.org/channel/raspberrypi');")
      .date
        h4(style='color: green;') Status: OPEN
      h2 Raspberry Pi
      .poster.p1
        h4
          img.portalsimge(src='https://mercode.org/assets/portal1pi.png')
    .box.nine(onclick="myhref('https://hub.mercode.org/channel/arduino');")
      .date
        h4(style='color: green;') Status: OPEN
      h2 Arduino
      .poster.p1
        h4
          img.portalsimge(src='https://mercode.org/assets/portal8.png')
    .box.five(onclick="myhref('https://hub.mercode.org/channel/meros');")
      .date
        h4(style='color: green;') Status: OPEN
      h2 MerOS
      .poster.p1
        h4
          img.portalsimge(src='https://mercode.org/assets/portal4.png')
    .box.three(onclick="myhref('https://hub.mercode.org/channel/first');")
      .date
        h4(style='color: yellow;') Status: Passive
      h2 FIRST Support
      .poster.p1
        h4
          img.portalsimge(src='https://mercode.org/assets/portal3.png')
    .box.six(onclick="myhref('https://hub.mercode.org/channel/robotik');")
      .date
        h4(style='color: green;') Status: OPEN
      h2 Robotics
      .poster.p1
        h4
          img.portalsimge(src='https://mercode.org/assets/portal5.png')
    .box.eight(onclick="myhref('https://hub.mercode.org/channel/3ddp');")
      .date
        h4(style='color: green;') Status: OPEN
      h2 3D Design/Printing
      .poster.p1
        h4
          img.portalsimge(src='https://mercode.org/assets/portal7.png')
    .box.seven(onclick="myhref('https://hub.mercode.org/channel/electrocars');")
      .date
        h4(style='color: green;') Status: OPEN
      h2 Electric Cars
      .poster.p1
        h4
          img.portalsimge(src='./assets/portal6.png')
script.
  function myhref (href) { window.location.href = href }
script(src='./js/jquery-3.3.1.js')
script(type='text/javascript').
  $(document).ready(function() {
  $('.menu-toggle').click(function() {
  $('nav').toggleClass('active')
  })
  })
