extends main.pug

block css
  

block content
  <div class="hos">Install Tor</div>
  <h3>Install Tor and defend yourself against tracking and surveillance. Circumvent censorship of authoritarian regimes.</h3>
  
  <a href="https://mercode.org/nextcloud/index.php/s/AyjdbeTrMpnmFzb " class="button"><i class="fa fa-windows" aria-hidden="true"></i>  Windows (sic)</a>
  <a href="https://mercode.org/nextcloud/index.php/s/L745myzwdzarj2n " class="button"><i class="fa fa-linux" aria-hidden="true"></i>  Linux (sic)</a>
  <a href="https://mercode.org/nextcloud/index.php/s/bT4GQg2nSM8Yndo " class="button"><i class="fa fa-apple" aria-hidden="true"></i>  Apple (sic)</a>
