/*The Legend Reborn*/
.portalheader
{
  z-index: 10;
  position:fixed;
  top: 0;
  left:0;
  padding: 0;
  background: linear-gradient(45deg,rgba(0, 4, 40, 0.9),rgba(0, 78, 146, 0.9));
  width: 100%;
  box-sizing: border-box;
}
.portalheader .logo
{
  height: 40px;
  line-height: 40px;
  float: left;
	padding-left: 10px;
}
.portalheader nav
{
  float:right;
}
.portalheader nav ul
{
  margin: 0;
  margin-right: 20px;
  padding: 0;
  display: flex;
}
.portalheader nav ul li
{
  list-style: none;
  color: #fff;
  font-weight: 1000;

}
.portalheader nav ul li a
{
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.portalheader nav ul li a:hover
{
  color: black;
}
.menu-toggle
{
    color: #fff;
    padding: 10px 10px;
    float: right;
    line-height: 70px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1050px)
{
    .portalheader
    {
      padding: 0 20px;
    }
     .portalheader .logo
    {
      padding-top: 0;
    }
    .menu-toggle
    {
      display: block;
    }
    .portalheader nav
    {

      position: fixed;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg,rgba(0, 4, 40, 0.9),rgba(0, 78, 146, 0.9));
      Left: -100%;
      transition: 0,5s;
      top: 40px;

    }
    .portalheader nav.active
    {
      Left: 0;
    }
    .portalheader nav ul
    {
      display: block;
      text-align: center;

    }
    .portalheader nav ul li {
      margin-top: 50px;
    }
    .portalheader nav ul li a{
      font-size: 30px;
    }

}
body {
  padding: 0;
	font-family: 'Raleway', sans-serif;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url(../assets/arkaplan6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a { text-decoration: none }
.conatiner {
	width: 100%;
	height: 500px;
}
.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.box {
	margin: 10px;
	width: 300px;
	height: 490px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	        box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.box:hover {
	margin-bottom: -10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	        box-shadow: 0 0 5px rgba(0,0,0,0.7);
  cursor: pointer;
}
.box h2 {
	color: #fff;
	padding: 30px;
	margin-top: 100px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
	        box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.date h4 {
	color: #fff;
	font-weight: 300;
	text-align: center;
	letter-spacing: 3px;
	text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.poster {
	width: 130px;
	height:130px;
	margin: 120px auto;
	position: relative;
	border-radius: 100px;
}
.poster h4 {
	top: 16px;
	color: #fff;
	position: relative;
	font-size: 80px;
	text-align: center;
	font-weight: 100;
}
.one {
	background: url('../assets/raspberrypiserver.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.two {
	background: url('../assets/linuxterminal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.three {
	background: url('../assets/frchilal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.five {
	background: url('../assets/merkuros2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.six {
	background: url('../assets/robotikcagan.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.seven {
	background: url('../assets/teslacarardatan.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eight {
	background: url('../assets/3ddesignedthing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nine {
	background: url('../assets/arduinowallpaper.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ten {
	background: url('https://source.unsplash.com/8998x920');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eleven {
	background: url('https://source.unsplash.com/898x960');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tlv {
	background: url('https://source.unsplash.com/999x888');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.thirteen {
	background: url('https://source.unsplash.com/1000x777');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ftn {
	background: url('https://source.unsplash.com/2000x777');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.fith {
	background: url('https://source.unsplash.com/2000x1000');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.sith {
	background: url('https://source.unsplash.com/3000x1000');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.sevth {
	background: url('https://source.unsplash.com/9000x9000');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* POSTERR*/
.p1 {
	background: linear-gradient(45deg,rgba(0, 4, 40, 0.9),rgba(0, 78, 146, 0.9));
}

.portalsimge {
	width: 100px;
	height: 100%;
}
