extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="../css/indexarkaplan.css">

block content
  <div class="hos"> Mercode: yazılımcılardan yazılımcılara.</div>
  <h3>Kar Amacı Gütmeyen Açık Kaynaklı Özgür Yazılım Organizasyonu/OS ve Sosyal Ağ.</h3>

  <a href="join.pug" class="button animated pulse delay-1s"><i class="fa fa-handshake-o" aria-hidden="true"></i>  Bize Katıl</a>
  <a href="https://hub.mercode.org/register" class="button animated pulse delay-1s"><i class="fa fa-sign-in" aria-hidden="true"></i>  Kaydol</a>
  <a href="#donate" class="button animated pulse delay-1s"><i class="fa fa-money" aria-hidden="true"></i>  Bağış Yap</a>
  <br>
  p(style="color: #afafaf") Mercode Topluluğu tarafından &nbsp;&nbsp; &lt;3 ile yapıldı.
