extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="../css/indexarkaplan.css">

block content
  .hos
    | Mercode: 
    span.ityped
  h3
    | Mercode, merkeziyetsiz web uygulamaları ve Linux distroları geliştiren özgür yazılım topluluğudur.
  a.button.animated.pulse.delay-1s(href='join.html')
    i.fa.fa-handshake-o(aria-hidden='true')
    |   Bize Katıl
  a.button.animated.pulse.delay-1s(href='https://hub.mercode.org/register')
    i.fa.fa-sign-in(aria-hidden='true')
    |   Kaydol
  a.button.animated.pulse.delay-1s(href='#donate')
    i.fa.fa-money(aria-hidden='true')
    |   Bağış Yap
  br
  p(style="color: #afafaf") Mercode Topluluğu tarafından &nbsp;&nbsp; &lt;3 ile yapıldı
  script(type='text/javascript' src='../js/ityped.js')
  script(type='text/javascript').
    window.ityped.init(document.querySelector('.ityped'),{
    typeSpeed:  125,
    startDelay: 500,
    backDelay:  1200,
    cursorChar: ".",
    strings : ['Özgürlük','Gizlilik','Güvenlik', 'Birlik']
    })
